.welcome-div {
    font-size: 30px;
    line-height: 22px;
    font-weight: 400;
    background: lightseagreen;
    height: 100px;
    .center-div {
        padding-top: 40px;
        text-align: center;
    }
}
.table-div {
    border: 1px solid black;
}