mat-toolbar {
  margin-bottom: 20px;
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .btn-dialog-close {
    width: 45px;
    min-width: 0px;
    height: 40px;
    padding: 0px;
  }
}
.edit-form {
  display: flex;
  .set-column {
    width: 33%;
    padding: 0 0.6rem;
    mat-form-field {
      width: 100%;
    }
  }
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin: 5px;
}
